/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* written styles */
a {
    text-decoration: none;
    margin-top: 1em;
    color: black;
    margin-right: 1em;
    font-family: Zen Loop;
    font-weight: bold;
}
a:hover {
    color: white;
}
h1 {
    font-family: Seaweed Script;
    font-size: 3em;
    margin-bottom: .3em;
}
h2 {
    margin-bottom: 0.5em;
    font-size: 2em;
    font-family: Shrikhand;
}
p {
    margin-top: .2em;
    font-family: BenchNine;
}
body {
    width: 100%;
    background-color: #f898bf33;
    background-image: url("background.png");
    background-size: cover;
}
section, footer {
    width: auto;
}
header {
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    background-color: #d8519d9c;
    width: auto;
}
figcaption {
    text-align: center;
    font-size: 1.5em;
    font-family: Zen Loop;
    font-weight: bold;
}
header nav {
    font-size: 1.5em;
    width: 97%;
}
section.main {
    display: flex;
    margin-bottom: 5em;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em;
}
article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
div.media img {
    border-radius: 50%;
    height: 18em;
    border: 2px dashed pink;
    padding: .3em;
}
article a {
    padding: .5em;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: .5em;
    background-color: #f898bfc7;
    border-radius: 10px;
    text-align: center;
    font-size: 1.7em;
    width: 5em;
}
article a:hover, footer a:hover {
    animation: heartBeat;
    animation-duration: 2.5s;
}
article h2 {
    width: auto;
}
article p {
    font-size: 1.5em;
    width: 80%;
}
section.projects {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8em;
    flex-wrap: wrap;
}
section.posts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8em;
    flex-wrap: wrap;
}
figure img {
    border-radius: 10px;
}
footer {
    justify-content: center;
    text-align: center;
}
footer a {
    margin-bottom: 4em;
    padding: .3em 1em;
    background-color: #f898bfc7;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    margin-right: 0px;
}
footer h2 {
    margin-left: 0em;
    margin-bottom: 1.5em;
    margin-top: .8em;
}
ul {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2.4em;
}
li {
    display: inline;
    margin-right: 1em;
    text-align: center;
}
li.twitter {
    margin-left: 1em;
}
li img:hover {
    animation: swing;
    animation-duration: 2s;
}
div h2 {
    margin-top: 2.7em;
    width: auto;
    margin-bottom: 2%;
    text-align: center;
}
div.divider {
    display: flex;
    width: auto;
    justify-content: center;
}
.divider img {
    height: 4.17em;
}
section.posts {
    margin-bottom: 3em;
}
